PORT=3000
N8N_FORM_URL=https://n8n.jungent.eu/form/db2cba86-cb02-4c78-ad90-4e91593b2d0d
N8N_BASE_URL=https://n8n.jungent.eu
N8N_TABLE_ID=69IWhIeDOzGWYd7h
N8N_API_KEY=
SMTP_USER=kait@jungent.eu
SMTP_PASS=
